$colorGreen: #385a38;
$colorOrange: #f3b13a;
$colorBlack: #181818;
$colorWhite: #FFF;

@import "font";
@import "Slider";
@import "Type";
@import "Header";

body {
  margin: 0;
  font-family: RedHat;
}

body {
  margin: 0;
  // background-color: #282c34;
}

.trail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
}

.submitData {
  display: none;
}
