@font-face {
    font-family: DaretroMandra;
    src: url("../fonts/DaretroMandra.otf");
}

@font-face {
    font-family: Leonetta;
    src: url("../fonts/LeonettaScript.otf");
}

@font-face {
    font-family: RedHat;
    src: url("../fonts/RedHatText-Regular.otf");
}

@font-face {
    font-family: RedHatMedium;
    src: url("../fonts/RedHatText-Medium.otf");
}