.Intro {
    background-color: $colorWhite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    display: flex;

    &.active {
        visibility: visible;
        opacity: 1;
        
        + .Header {
            .MenuButton {
                display: none;
            }
        }
    }


    .Intro-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 50%;
        padding-left: 12%;
        box-sizing: border-box;

        h2 {
            font-size: 40px;
            font-family: DaretroMandra;
            color: $colorGreen;
            font-weight: 400;
            margin-bottom: 32px;
        }

        .text-1, .text-2 {
            font-size: 24px;
            margin: 0;
            margin-bottom: 10px;
        }

        .Intro-footer {
            display: flex;
            align-items: flex-end;

            .button {
                margin-top: 80px;
                color: $colorWhite;
                background-image: url("../img/button-full.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                // background-color: $colorGreen;
                // border-radius: 30px/20px;
                width: 180px;
                text-align: center;
                padding: 18px 0;
                font-weight: bold;
                font-size: 16px;
                cursor: pointer;
                letter-spacing: 3px;
            }
    
            .arrow {
                margin-left: 20px;
                width: 100px;
                height: 90px;
                background-image: url("../img/arrow-intro.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .Intro-right {
        width: 50%;
        height: 100%;
        box-sizing: border-box;

        > div {
            height: 100%;
            width: 100%;
            background-image: url("../img/intro.png");
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: contain;
        }

        @media (min-width: 1500px) {
            padding-top: 150px;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;

        .Intro-left, .Intro-right {
            width: 100%;
        }
        .Intro-left {
            margin-top: 120px;
            padding: 0 40px;

            h2 {
                font-size: 21px;
            }

            .text-1, .text-2 {
                font-size: 16px;
            }

            .button {
                margin: 30px auto 30px !important;
            }

            .arrow {
                display: none;
            }
        }

        .Intro-right {
            background-position: bottom center;
            > div {
                background-position: bottom center;
            }
        }
    }
}