.Slider {
    min-height: 100vh;
    position: relative;

    .Controls {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .bottom-controls {
            display: flex;

            .element {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                cursor: pointer;
                border: 1px solid transparent;
    
                &.selected {
                    border: 1px solid rgba($colorGreen, 0.7);
    
                    &::before {
                        background-color: $colorGreen;
                    }
                }
    
                &::before {
                    content: "";
                    background-color: rgba($colorGreen, 0.7);
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
            }
        }

        > .element {
            color: $colorGreen;
            border: 1px solid $colorGreen;
            width: 120px;
            text-align: center;
            padding: 10px 0;
            border-radius: 30px/20px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;

            &.left {
                margin-right: 80px;
            }
            
            &.right {
                margin-left: 80px;
                background-color: $colorGreen;
                color: $colorWhite;
            }
        }
    }


    .slides {
        position: relative;
        transition: all 1s;

        .Slide {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
            width: 100%;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 1s;

            &.active {
                left: 0;
            }

            h2 {
                display: flex;
                align-items: center;
                .number {
                    font-family: Leonetta;
                    font-size: 80px;
                    font-weight: 400;
                    margin-top: -20px;
                    margin-left: 10px;
                }
            }

            h3 {
                font-size: 32px;
                font-family: DaretroMandra;
                color: $colorGreen;
                font-weight: 400;
            }

            .wrapper-field {
                display: flex;
                justify-content: center;
            }
        }

        .SlideEnd {
            .email-wrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                font-size: 18px;
                margin-top: 25px;

                
                label {
                    position: absolute;
                    color: rgba($colorGreen, 0.7);
                    cursor: pointer;
                    transition: all .3s;
                    top: 0;
                }
                &.active {
                    label {
                        top: -25px;
                    }
                }
                
                input {
                    border: unset;
                    border-bottom: 2px solid $colorGreen;
                    background: unset;
                    color: $colorGreen;
                    box-shadow: unset;
                    font-size: 18px;
                    padding: 0 50px 5px 0;
                    cursor: pointer;
    
                    &:active, &:focus {
                        outline: none;
                    }
                }
            }

            .submitData {
                color: $colorWhite;
                background-color: $colorGreen;
                width: 120px;
                text-align: center;
                padding: 10px 0;
                border-radius: 30px/20px;
                font-weight: bold;
                font-size: 20px;
                cursor: pointer;
                margin-top: 50px;
            }
        }
    }
}
