.Slider {
    min-height: 100vh;
    height: 720px;
    // min-height: calc(100vh - 150px);
    // padding-bottom: 150px;
    position: relative;
    transition: all .3s;
    width: 100%;
    margin-left: auto;

    .Controls {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .bottom-controls {
            display: flex;

            .element {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                cursor: pointer;
                border: 1px solid transparent;
    
                &.selected {
                    border: 1px solid rgba($colorGreen, 0.7);
    
                    &::before {
                        background-color: $colorGreen;
                    }
                }
    
                &::before {
                    content: "";
                    background-color: rgba($colorGreen, 0.7);
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
            }
        }

        > .element {
            // border: 1px solid $colorGreen;
            // border-radius: 30px/20px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: rgba($colorGreen, 0.7);
            background-image: url("../img/button-empty.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 150px;
            text-align: center;
            padding: 18px 0;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            visibility: visible;
            opacity: 1;
            transition: all .5s;

            &.left {
                margin-right: 80px;
            }
            
            &.right {
                margin-left: 80px;
                background-image: url("../img/button-full.svg");
                color: $colorWhite !important;
            }
            
            &.submit {
                background-image: url("../img/button-full.svg");
                color: $colorWhite !important;
            }

            &.hidden {
                visibility: hidden;
                opacity: 0;
                width: 0;
            }
        }
    }


    .slides {
        position: relative;
        transition: all 1s;
        // min-height: 100vh;

        // overflow: auto;
        // white-space: nowrap;

        .Slide {
            // display: inline-block;

            display: flex;
            position: absolute;
            min-height: 100vh;

            align-items: center;
            flex-direction: column;
            width: 100%;
            top: 0;
            left: 0;
            transition: all 1s;
            padding: 0 40px;
            box-sizing: border-box;

            &.active {
                left: 0;
            }

            h2 {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                color: $colorGreen;
                margin-top: 100px;

                .number {
                    font-family: Leonetta;
                    font-size: 80px;
                    font-weight: 400;
                    margin-top: -20px;
                    margin-left: 10px;
                }
            }

            h3 {
                font-size: 40px;
                // max-width: 600px;
                font-family: DaretroMandra;
                color: $colorGreen;
                font-weight: 400;
                text-align: center;
                margin-bottom: 50px;
            }

            .wrapper-field {
                display: flex;
                justify-content: center;
                // margin-bottom: 120px;
            }
        }

        .SlideEnd {
            .email-wrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                font-size: 18px;
                margin-top: 25px;

                
                label {
                    position: absolute;
                    color: rgba($colorGreen, 0.7);
                    cursor: pointer;
                    transition: all .3s;
                    top: 0;
                }
                &.active {
                    label {
                        top: -25px;
                    }
                }
                
                input {
                    border: unset;
                    border-bottom: 2px solid $colorGreen;
                    background: unset;
                    color: $colorGreen;
                    box-shadow: unset;
                    font-size: 18px;
                    padding: 0 0 5px 0;
                    width: 250px;
                    cursor: pointer;
    
                    &:active, &:focus {
                        outline: none;
                    }
                }
            }

            .submitData {
                color: $colorWhite;
                background-color: $colorGreen;
                width: 120px;
                text-align: center;
                padding: 10px 0;
                border-radius: 30px/20px;
                font-weight: bold;
                font-size: 20px;
                cursor: pointer;
                margin-top: 50px;
            }
        }
    }

    @media (max-width: 767px) {
        .slides {
            .Slide {
                h2 {
                    margin-top: 100px;
                }
                h3 {
                    font-size: 22px;
                    margin-top: 0;
                }
            }
        }

        .Controls {
            > .element {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid $colorGreen;
                padding: 0;
                background-size: 30%;
                
                span {
                    display: none;
                }
                
                &.left, &.right {
                    margin: 0;
                    background-image: url("../img/arrow-mobile.svg");
                    // margin-right: 20px;
                }

                &.right {
                    transform: rotate(180deg);
                }
            }

            .bottom-controls {
                margin: 0 20px;
                .element {
                    margin: 0 3px;
                }
            }
        }
    }
}
