.Select {
    border: unset;
    border-bottom: 1px solid $colorGreen;
    background: unset;
    color: $colorGreen;
    box-shadow: unset;
    font-size: 16px;
    padding: 0 50px 5px 0;
    cursor: pointer;

    &:active, &:focus {
        outline: none;
    }
}

.Radios, .Checkboxs {
    display: flex;
    flex-direction: column;

    .Radio, .Checkbox {
        border: 1px solid $colorGreen;
        width: 400px;
        min-height: 70px;
        margin: 0 10px;
        color: $colorGreen;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 0 40px;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;

        @media (max-width: 767px) {
            width: 300px;
            padding-left: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            // background-color: $colorGreen;
            border: 1px solid $colorGreen;
        }

        &.Checkbox {
            &::before {
                border-radius: 0;
                border: 1px solid $colorGreen;
                background-color: unset;
                border-radius: 2px;
            }
        }

        &.selected {
            background-color: $colorGreen;
            color: $colorWhite;

            &::before {
                background-color: $colorGreen;
                border: 1px solid $colorWhite;
            }

            &::after {
                content: "";
                position: absolute;
                right: 26px;
                top: 50%;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $colorWhite;
            }
        }

        input {
            display: none;
        }
    }
}

.Cursor {
    display: flex;
    position: relative;
    color: $colorGreen;
    
    .Dot {
        width: 100px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        
        .dot {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border: 1px solid transparent;
            border-radius: 50%;

            &::after {
                content: "";
                border-radius: 50%;
                background-color: $colorGreen;
                width: 8px;
                height: 8px;
            }
        }
        
        &.selected {
            .dot {
                border: 1px solid $colorGreen;
            }
        }
    }
    
    &::before {
        content: "";
        position: absolute;
        width: calc(100% - 100px);
        height: 1px;
        background-color: $colorGreen;
        top: 16px;
        margin: 0 50px;
    }

    input {
        display: none;
    }

    label {
        margin-top: 10px;
        cursor: pointer;
    }

    @media (max-width: 767px) {
        &::before {
            width: calc(100% - 50px);
            margin: 0 30px;
        }
        
        .Dot {
            width: 60px;

            .dot {
                border: 1px solid $colorGreen;
                background-color: $colorWhite;
                z-index: 1;
                &::after {
                    display: none;
                }
            }
            label {
                z-index: 2;
                position: absolute;
                margin-top: 7px;
            }

            &.selected {
                .dot {
                    background-color: $colorGreen;
                }
                label {
                    color: $colorWhite;
                }
            }
        }
    }
}

.Text2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .text2-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 18px;
        margin: 0 20px;
        margin-top: 25px;
        margin-bottom: 20px;

        
        label {
            position: absolute;
            color: rgba($colorGreen, 0.7);
            cursor: pointer;
            transition: all .3s;
            top: 0;
        }
        &.active {
            label {
                top: -25px;
            }
        }
        
        input {
            border: unset;
            border-bottom: 1px solid $colorGreen;
            background: unset;
            color: $colorGreen;
            box-shadow: unset;
            font-size: 18px;
            padding: 0 0 5px 0;
            width: 250px;
            cursor: pointer;

            &:active, &:focus {
                outline: none;
            }
        }
    }
}